# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Temporary - verifikasi orisinal
app/(main)/verifikasi-orisinal/
app/admin/(main-admin)/verifikasi-orisinal/
app/api/verification-pdf/
app/api/verify-serial/
app/admin/serials/
app/admin/serials/[id]
app/admin/serials/batch-process-serials
app/admin/serials/bulk-delete
components/pages/VerifikasiOrisinalPage.jsx
components/pages/admin/VerifikasiOrisinalManagement.jsx
lib/models/serialNumber.js